$dk-debug: (
  status: (
    font-family: 'Arial, sans-serif',
    bottom: 16px,
    right: 16px,
    color: #000,
    font-size: 13px,
    background-color: #fef8a4,
    padding: #{2/3 * 10}px 10px,
    line-height: 1.4,
    
    hover: (
      opacity: 0.75
    )
  )
);


@mixin dk-debug-status {
  position: fixed;
  bottom: dk-map-get($dk-debug, 'status', 'bottom');
  right: dk-map-get($dk-debug, 'status', 'right');
  background-color: dk-map-get($dk-debug, 'status', 'background-color');
  padding: dk-map-get($dk-debug, 'status', 'padding');
  color: dk-map-get($dk-debug, 'status', 'color');
  font-family: dk-map-get($dk-debug, 'status', 'font-family');
  font-size: dk-map-get($dk-debug, 'status', 'font-size');
  line-height: dk-map-get($dk-debug, 'status', 'line-height');
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  
  &:hover {
    opacity: dk-map-get($dk-debug, 'status', 'hover', 'opacity');
  }
}
