%dk-clearfix {
  @include dk-clearfix;
}


/*
  Gathered information about "user-select".
  This one seems to work best (2019/08).
*/
%dk-user-select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}


%dk-img-responsive-width {
  @include dk-img-responsive-width;
}


%dk-img-responsive-height {
  @include dk-img-responsive-height;
}


%dk-push-auto {
  @include dk-push-auto;
}


%dk-object-fit-cover {
  @include dk-object-fit-cover;
}


%dk-object-fit-contain {
  @include dk-object-fit-contain;
}


%dk-max-dimension {
  @include dk-max-dimension;
}


%dk-disable-tap-highlight {
  @include dk-disable-tap-highlight;
}


%dk-center {
  @include dk-center;
}


%dk-center-h {
  @include dk-center-h;
}


%dk-center-v {
  @include dk-center-v;
}


%dk-visually-hidden {
  @include visually-hidden;
}